NEXT_PUBLIC_CUSTOMER_URL=https://techcustomer.dirshay.com
NEXT_PUBLIC_ADMIN_URL=https://techadmin.dirshay.com

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=techni

CLOUDINARY_CLOUD_NAME=ods2qxcq
CLOUDINARY_API_KEY=963516152539744
CLOUDINARY_API_SECRET=GpVBNStNn44MkfVxb1uubTjtmJ4
CLOUDINARY_URL=cloudinary://963516152539744:GpVBNStNn44MkfVxb1uubTjtmJ4@ods2qxcq
